{% extends "base.html" %}

{% block content %}
    <div class="row viewpost-card">
        <div class="col-xs-12">
            <h3><u>{{ post.title }}</u></h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-1 col-xs-8 ">
                <iframe width="560" height="315" src="{{ post.youtube_link }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>   
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-9 col-sm-offset-1 col-xs-9 col-xs-offset-1">
                <p>{{ post.content }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-5 col-sm-3 col-sm-offset-4 col-xs-4 col-xs-offset-4">
                <button class="btn btn-default" onclick="location.href='{% url 'youtubecategories' %}'">Back To Blog</button>
                <p>Published on {{ post.published_date }}</p>
            </div>
        </div>
    </div>
    
{% endblock %}