{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}

<div class="container-fluid">
<div class="row">

    <div class="col-sm-12 jumbo">
        <div class="jumbocontents">
            <hr class="line1">
            <hr class="line1">
            <div class="enteremail">
                <h4> Sign up for daily updates on Cthulhu's ever extending influence through the dimensions </h4>
                <a href="#" class="btn btn-lg btn-success hvr-grow">SIGN UP <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            </div>
        </div>
    </div>
</div>


<br>

{% endblock content %}