{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
    
    <div class="row sign-row">
        <div class="col-md-6 col-md-offset-3">
            <hr class="line1">
            <div class="enteremail">
                <h4> Sign up for daily updates on Cthulhu's ever extending influence through the eternal miasmic dimensions </h4>
                <a href="{% url 'register' %}" class="btn btn-lg btn-info hvr-grow sign-btn">SIGN UP <span class="glyphicon glyphicon-circle-arrow-up"></span></a>
            </div>
        </div>
    </div>


<br>

{% endblock content %}