#navbar {
    background-color: #331D15;
    background-image: none;
    border-bottom: none;
}
.navbar-default {
    
}


.navbar-collapse {
    margin-right: 50px;
}

.home-card {
    margin-top: 80px;
    border: 5px solid #FFAA00;
    border-radius: 60px;
    width: 90%;
    display:center;
}


.home-card-para {
    background-color: #000000;
    opacity: 0.8
}


body {
    font-family: Arial;
    padding-top: 100px;
    background-image: url("../images/jordan-larger.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.cats {
    background: no-repeat center;
    background-size: cover;
    height: 300px;
    margin:20px;
}


hr {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 1px;
    border: 0;
    border-top: 1px solid #FFAA00;
    margin: 1em 0;
    padding: 0; 
}

a,
h1,
h2,
h3,
h4 {
    text-align: center;
    color: white;
}


.searchbox {
    display:inline-block;
    position:relative;
    padding: 1.5px;
}


.footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
    text-align: center;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

/*.row.row-flex {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    margin-top: 30px;*/
/*}*/

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 3px solid red;
}

.product-description {
    min-height: 40px;
}



