body {
    width:100%;
}

#navbar {
    background-color: #331D15;
    background-image: none;
    border-bottom: none;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.navbar-header {
    margin-left: 5rem;
    margin-top: 1rem;
}
.navbar-top-row {
    width:90%;
}

.navbar-right {
    margin-top: 1rem;
    margin-left: 15rem;
}

.navbar-bottom-row {
    width:90%;
    display:center;
    /*margin-left: 60rem;*/
}

.navbar-buttons {
    margin-left: 10rem;
}



/*.navbar-collapse {*/
/*    margin-left: 8rem;*/
/*}*/

/*////////////////////////////////////////////////////////////////////////////////*/

.alert-card {
    margin-top: 20rem;
}

.pushdown {
    margin-top: 10rem;
}

/*////////////////////////////////////////////////////////////////////////////////*/
.sign-up {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    
}


/*.sign-row {*/
/*    margin-top: 67rem;*/
/*}*/


.sign-btn {
    margin-left:21rem;
}



/*////////////////////////////////////////////////////////////////////////////////*/
.about-card {
    /*margin-bottom: 10rem;*/
    margin-left: 7rem;
    border: 5px solid #FFAA00;
    border-radius: 60px;
    width: 90%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    
}

.intro {
    margin-top: 3rem;
    padding:1rem;
    border: 1px solid #FFAA00;
    /*border-radius: 45px;*/
}

body {
    font-family: Arial;
    color:white;
    margin-top: 10rem;
    background-image: url("../images/jordan-larger.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



/*////////////////////////////////////////////////////////////////////////////////*/
.category-cards {
    margin-left: 12rem;
    margin-right: 5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.category-bg {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}

.cats {
    background: no-repeat center;
    background-size: cover;
    border: 2px solid #FFAA00;
    height: 24rem;
    width: 20rem;
}

.YTcats {
    background: no-repeat center;
    background-size: cover;
    border: 2px solid #FFAA00;
    height: 24rem;
    width: 20rem;
}

.blogpost-image {
    margin-top: 1rem;
}
/*.cats h4 {*/
/*    background-color: black;*/
/*}*/

figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}




/*////////////////////////////////////////////////////////////////////////////////*/

.YT-set {
    margin-top: 3rem;
}

.YT-cards {
    margin-bottom: 15rem;
}

.YT-desc {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}

.blogposts-card {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    margin-top: 7rem;
    /*border-bottom: 2px solid #FFAA00;*/
}

.blogpost-set {
    border-bottom: 2px solid #FFAA00;
    /*margin-top: 5rem;*/
    /*background: rgb(0, 0, 0);*/
    /*background: rgba(0, 0, 0, 0.5);*/
}

.blog-desc {
    /*background: rgb(0, 0, 0);*/
    /*background: rgba(0, 0, 0, 0.5);*/
}

.viewpost-card {
    margin-top: 20rem;
    border-bottom: 2px solid #FFAA00;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}
.card-row {
    margin-top: 20rem;
}

/*.bg-card {*/
/*    background-color: black;*/
/*    opacity: 0.8*/
/*}*/

hr {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 1px;
    border: 0;
    border-top: 1px solid #FFAA00;
    margin: 1em 0;
    padding: 0; 
}

a,
h1,
h2,
h3,
h4 {
    text-align: center;
    color: white;
}

.login {
    color: white;
    /*text-align: center;*/
}

.searchbox {
    display:inline-block;
    position:relative;
    margin-left: 2rem;
    padding: 1.5px;
}
.search-input {
    color:black;
    width:10rem;
}

/*.container {*/
/*    height: 50px;*/
/*}*/

.footer {
    width:75rem;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #331D15;
    color: #A9A9A9;
    text-align: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #FFAA00;
}

.modal-content {
    border: 2px solid #FFAA00;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}


.product-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
}

.cart-product-image {
    padding-left: 15px;
    padding-right: 15px;
}

.products  {
    /*min-height: 10rem;*/
    color: black;
}

/*.prod-title  {*/
/*    margin-bottom:6rem;*/
/*    margin-right: 2rem;*/
/*    font-size: 7rem;*/
/*}*/
.back-btn {
    margin-bottom: 2rem;
    margin-left: 8rem;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
}

.panel-default {
    padding: 0 1rem;
    margin-left: 8rem;
    border: 2px solid #FFAA00;
}

.panel-body {
    height: 70%;
    
}

/*////////////////////////////////////////////////////////////////////////////////*/

.cart-table {
    background-color: white;
    color:black;
    border-radius:20px;
    border: 2px solid #FFAA00;
}

/*.cart-table thead {*/
/*    border-radius:20px;*/
/*}*/

/*////////////////////////////////////////////////////////////////////////////////*/

.legend {
    color: white;
    /*margin-left: 30%;*/
}

.order-form  {
    border: 2px solid #FFAA00;
    border-radius: 20px;
    padding-top: 1rem;
}

.payment-form {
    border: 2px solid #FFAA00;
    border-radius: 20px;
    padding-top: 1rem;
}

/*////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 1243px) {
    .about-card {
        margin-top: 7rem;
    }
    .cart-table {
        margin-top: 7rem;
    }
}

@media only screen and (max-width: 1200px) {
    .about-card {
        margin-top: 14rem;
    }
    .product-row {
        margin-top: 16rem;
    }
    .panel-default {
        padding: 0 1rem;
        margin-left: 3rem;
        margin-right: 3rem;
        border: 2px solid #FFAA00;
    }
    .cart-table {
        margin-top: 0rem;
    }
}

@media only screen and (max-width: 1199px) {
    .about-card {
        margin-top: 1rem;
    }
    .sign-btn {
    margin-left:17rem;
    }
    .product-row {
        margin-top: 0rem;
    }
}

@media only screen and (max-width: 991px) {
    .about-card {
        margin-top: 7rem;
    }
    .navbar-header {
        margin-left: 35rem;
    }
    .navbar-right {
        margin-top: 1rem;
        margin-left: 27rem;
    }
    .footer {
        width:50%;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #331D15;
        color: #A9A9A9;
        text-align: center;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .sign-btn {
    margin-left:30rem;
    }
    .category-cards {
        margin-left: 5rem;
        margin-right: 12rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .cats {
        background: no-repeat center;
        background-size: cover;
        border: 2px solid #FFAA00;
        height: 18rem;
        width: 15rem;
    }
    .back-btn {
        margin-top: 7rem;
    }
    /*.modal-content {*/
    /*    border: 2px solid #FFAA00;*/
    /*    width: 596px;*/
    /*    height: 820px;*/
    /*}*/
    /*.modal-header {*/
    /*    width: 566px;*/
    /*    padding: 15px;*/
    /*    height: 820px;*/
    /*}*/
    /*.modal-body {*/
    /*    width: 556px;*/
    /*    padding:20px;*/
    /*    height: 636px;*/
    /*}*/
    .YT-cards {
        margin-top: 6rem;
        margin-right: 6rem;
    }
    .cart-table {
        margin-top: 6rem;
    }
}


@media only screen and (max-width: 892px) {
    .login {
        margin-top: 10rem;
    }
}


@media only screen and (max-width: 870px) {
    .about-card {
        margin-left: 2rem;
    }
    .navbar-header {
        margin-left: 25rem;
    }
    .navbar-right {
        margin-top: 1rem;
        margin-left: 19rem;
    }
}

@media only screen and (max-width: 806px) {
    .about-card {
        margin-top: 13rem;
        margin-right: 10rem;
    }
    .category-row {
        margin-top: 16rem;
    }
    .back-btn {
        margin-top: 12rem;
    }
    .YT-cards {
        margin-top: 6rem;
        margin-right: 3rem;
    }
    .blogposts-card {
        /*background: rgb(0, 0, 0);*/
        /*background: rgba(0, 0, 0, 0.5);*/
        margin-top: 6rem;
    }
    .cart-table {
        margin-top: 12rem;
    }
}

@media only screen and (max-width: 789px) {
    .YT-cards {
        margin-top: 9rem;
        margin-right: 3rem;
    }
}

@media only screen and (max-width: 767px) {
    .about-card {
        margin-top: 11rem;
    }
    .sign-btn {
    margin-left:25rem;
    }
    .category-cards {
        margin-left: 2rem;
        margin-right: 10rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .cats {
        background: no-repeat center;
        background-size: cover;
        border: 2px solid #FFAA00;
        height: 13.5rem;
        width: 11.25rem;
    }
    .panel-default {
        height: 25rem;
        width: 20rem;
        padding: 0 1rem;
        margin-left: 8rem;
        margin-right: 3rem;
        border: 2px solid #FFAA00;
    }
    .product-image {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width: 10rem;
        height: 10rem;
    }
    .btn {
        height: 2.2rem;
        width: 10rem;
    }
    .panel-body {
        padding: 1rem;
    }
    .YT-cards {
        margin-left: 22rem;
        margin-right: 6rem;
        margin-bottom: 0rem;
    }
    .YTbtn {
        margin-bottom: 1rem;
        height: 20px;
    }
}

@media only screen and (max-width: 690px) {
    .navbar-header {
        margin-left: 17rem;
    }
    .navbar-right {
        margin-top: 1rem;
        margin-left: 11rem;
    }
    .back-btn {
        margin-bottom: 8rem;
    }
}

@media only screen and (max-width: 645px) {
    .sign-btn {
    margin-left:20rem;
    }
    .panel-default {
        height: 25rem;
        width: 20rem;
        padding: 0 1rem;
        margin-left: 4rem;
        margin-right: 2rem;
        border: 2px solid #FFAA00;
    }
    .YT-cards {
        margin-left: 18rem;
        margin-right: 5rem;
    }
}

@media only screen and (max-width: 570px) {
    .sign-btn {
    margin-left:14rem;
    }
}

@media only screen and (max-width: 536px) {
    .panel-default {
        height: 25rem;
        width: 20rem;
        padding: 0 1rem;
        margin-left: 2rem;
        margin-right: 1rem;
        border: 2px solid #FFAA00;
    }
    .YT-cards {
        margin-left: 12rem;
        margin-right: 5rem;
    }
    
}

@media only screen and (max-width: 520px) {
    .navbar-header {
        margin-left: 10rem;
    }
    
}

@media only screen and (max-width: 480px) {
    .navbar-header {
        margin-left: 5rem;
    }
    .panel-default {
        height: 25rem;
        width: 20rem;
        padding: 0 1rem;
        margin-left: 1rem;
        margin-right: .5rem;
        border: 2px solid #FFAA00;
    }
    
}

@media only screen and (max-width: 446px) {
    .panel-default {
        height: 25rem;
        width: 20rem;
        padding: 0 1rem;
        margin-left: 9rem;
        margin-right: 2rem;
        border: 2px solid #FFAA00;
    }
    .YT-cards {
        margin-left: 7rem;
        margin-right: 5rem;
    }
    
}

@media only screen and (max-width: 407px) {
    .YT-cards {
        margin-left: 7rem;
        margin-right: 5rem;
        margin-top: 7rem;
    }
}