#navbar {
    background-color: #331D15;
    background-image: none;
    border-bottom: none;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.navbar-header {
    margin-left: 10rem;
    margin-top: 1rem;
}
.navbar-top-row {
    width:90%;
}
.navbar-bottom-row {
    width:90%;
    display:center;
    /*margin-left: 60rem;*/
}

.navbar-buttons {
    margin-left: 10rem;
}


.navbar-collapse {
    margin-right: 50px;
}


/*////////////////////////////////////////////////////////////////////////////////*/

.alert-card {
    margin-top: 20rem;
}

.pushdown {
    margin-top: 10rem;
}

/*////////////////////////////////////////////////////////////////////////////////*/
.sign-row {
    margin-top: 67rem;
}


.sign-btn {
    margin-left: 40rem;
}



/*////////////////////////////////////////////////////////////////////////////////*/
.about-card {
    margin-top: 1rem;
    margin-left: 7rem;
    border: 5px solid #FFAA00;
    border-radius: 60px;
    width: 90%;
    display:center;
}


.about-card-para {
    background-color: black;
    opacity: 0.8
}


body {
    font-family: Arial;
    color:white;
    margin-top: 20rem;
    background-image: url("../images/jordan-larger.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



/*////////////////////////////////////////////////////////////////////////////////*/
.category-cards {
    /*margin-left: 26rem;*/
    margin-top: 7rem;
    margin-bottom: 15rem;
}


.cats {
    background: no-repeat center;
    background-size: cover;
    border: 2px solid #FFAA00;
    height: 30rem;
    width:25rem;
}

/*.cats h4 {*/
/*    background-color: black;*/
/*}*/

figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}




/*////////////////////////////////////////////////////////////////////////////////*/

.YT-cards {
    margin-left: 26rem;
    margin-top: 3rem;
}

.blogpost-set {
    margin-top: 3rem;
}

.viewpost-card {
    margin-top: 20rem;
}
.card-row {
    margin-top: 20rem;
}


hr {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 1px;
    border: 0;
    border-top: 1px solid #FFAA00;
    margin: 1em 0;
    padding: 0; 
}

a,
h1,
h2,
h3,
h4 {
    text-align: center;
    color: white;
}


.searchbox {
    display:inline-block;
    position:relative;
    padding: 1.5px;
}


.footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #331D15;
    color: #A9A9A9;
    text-align: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #FFAA00;
}

.modal-content {
    border: 2px solid #FFAA00;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
/*.products-row {*/
/*    margin-left: 40rem;*/
/*}*/

.product-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
}

.cart-product-image {
    padding-left: 15px;
    padding-right: 15px;
}

.products  {
    /*min-height: 10rem;*/
    color: black;
}



caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
}

.panel-default {
    padding: 0 1rem;
    margin-left: 5rem;
    border: 2px solid #FFAA00;
}

.panel-body {
    height: 70%;
}

/*////////////////////////////////////////////////////////////////////////////////*/

.cart-table {
    background-color: white;
    color:black;
    border-radius:20px;
    border: 2px solid #FFAA00;
}

/*////////////////////////////////////////////////////////////////////////////////*/

.legend {
    color: white;
    /*margin-left: 30%;*/
}

.order-form  {
    border: 2px solid #FFAA00;
    border-radius: 20px;
    padding-top: 1rem;
}

.payment-form {
    border: 2px solid #FFAA00;
    border-radius: 20px;
    padding-top: 1rem;
}