{% extends 'base.html' %}

{% block content %}
{% for category in categories %}
    <div >  
        <div class="category-cards col-md-3 col-md-offset-1">
            <a href="{% url 'products_by_category' category.id %}">
                <figure>
                    <div class="col-md-4 cats" style="background-image: url({{ MEDIA_URL }}{{ category.image }});"></div>
                    <figcaption>{{ category.name }}</figcaption>
                </figure>
            </a>
        </div>
    </div> 
{% endfor %}

{% endblock %}