{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
    
    <div class="container">
            <div class="row about-card col-md-8">
                    <h1 class="col-md-8 col-md-offset-2"> 
                        These are a few of Cthulhu's favourite things
                    </h1>
                <div class="about-card-para">
                    <h4 class="col-md-8 col-md-offset-2">Dr. Peterson is a professor at the University of Toronto, a clinical psychologist and the author of 12 Rules for Life: An Antidote to Chaos (Jan 2018, Penguin Books). His now-classic book, Maps of Meaning: The Architecture of Belief, offers a revolutionary take on the psychology of religion, and the hundred or more scientific papers he published with his colleagues and students have substantively advanced the modern understanding of creativity and personality. As a Harvard professor, he was nominated for the prestigious Levinson Teaching Prize, and is regarded by his current University of Toronto students as one of three truly life-changing professors. His classroom lectures on mythology and psychology, based on Maps of Meaning, were turned into a popular 13-part TV series on TVO.</h4>
    
                    <h4 class="col-md-8 col-md-offset-2">Dr. Peterson’s YouTube channel, Jordan Peterson Videos features his university and public lectures (including the most recent 15-part biblical series), responses to the polarizing political crises of today, and interviews with people such as Camille Paglia, Jonathan Haidt and Ayaan Hirsi Ali. As of December 2017, the channel has 300 videos, 550,000 subscribers, and 30 million views.</h4>
    
                    <h4 class="col-md-8 col-md-offset-2"class="col-md-8 col-md-offset-2">Dr. Peterson and his colleagues have also produced two online programs to help people understand their personalities and improve their lives. The newest, UnderstandMyself, provides its users with detailed information about their personalities, based on work he published with his students here. Tens of thousands have now used it to determine who they are, and to help others understand them, as well. His original self-analysis program, the Self Authoring Suite, (featured in O: The Oprah Magazine, CBC radio, and NPR’s national website), has helped over 200,000 people resolve the problems of their past, rectify their personality faults and enhance their virtues, and radically improve their future. Research indicating the program’s effectiveness at helping university students stay in school and thrive can be found here and here.</h4>
    
                    <h4 class="col-md-8 col-md-offset-2">Dr. Peterson has appeared on many popular podcasts and shows, including the Joe Rogan Experience (#877, #958, #1006), The Rubin Report (12 Rules for Life: An Antidote to Chaos, Free Speech, Psychology, Gender Pronouns), H3H3 (#37), and many more.</h4>
                </div>
            </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <hr class="line1">
            <div class="enteremail">
                <h4> Sign up for daily updates on Cthulhu's ever extending influence through the eternal miasmic dimensions </h4>
                <a href="register" class="btn btn-lg btn-info hvr-grow sign-btn">SIGN UP <span class="glyphicon glyphicon-circle-arrow-up"></span></a>
            </div>
        </div>
    </div>


<br>

{% endblock content %}