{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.come/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = "{{ publishable }}";
    //}}>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class=" col-sm-6 col-sm-offset-3">
        <table class="table cart-table">
            <thead>
            <tr>
                <th></th>
                <th>Book</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart_items %}
                <tr>
                    <td><img class="product-image" src="{{ MEDIA_URL }}{{ item.product.image }}"></td>
                    <td><strong>{{ item.product.name }}</strong> by {{ item.product.book_author }}</td>
                    <!--<td>{{ item.product.description }}</td>-->
                    <td>{{ item.quantity }}</td>
                    <td>€{{ item.product.price }}</td>
                    <td>
                        <form method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            Quantity
                            <input name='quantity' type="number" min="0" max="999">
                            <button type="submit">Adjust</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>Total</td>
                <td><strong><u>€{{ total }}</u></strong></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <h2 class="legend"><strong><u>Payment Details</u></strong></h2>
    <hr>
    <div id="credit-card-errors" style="display:none">
        <div class="alert-message block-message-error" id="stripe-error-message"></div>
    </div>
    
    <div class="form-group order-form col-md-4 col-md-offset-1">
        {{ order_form|as_bootstrap }}
    </div>
    <div class="form-group payment-form col-md-4 col-md-offset-2">
        {{ payment_form|as_bootstrap }}
    </div>

    {% csrf_token %}
    <div class="form-group col-md-8 col-md-offset-4">
        <input class="btn btn-info" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
</form>

{% endblock %}