{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="row">
    <div class=" col-sm-8 col-sm-offset-2">
        <table class="table cart-table">
            <thead>
            <tr>
                <th></th>
                <th>Book</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart_items %}
                <tr>
                    <td><img class="product-image" src="{{ MEDIA_URL }}{{ item.product.image }}"></td>
                    <td><strong>{{ item.product.name }}</strong> by {{ item.product.book_author }}</td>
                    <!--<td>{{ item.product.description }}</td>-->
                    <td>{{ item.quantity }}</td>
                    <td>€{{ item.product.price }}</td>
                    <td>
                        <form method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            Quantity
                            <input name='quantity' type="number" min="0" max="999">
                            <button type="submit">Adjust</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>Total</td>
                <td><strong><u>€{{ total }}</u></strong></td>
                <td><a href="{% url 'checkout' %}" class="btn btn-success" role="button">Checkout</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}