{% load static from staticfiles %}

<!DOCTYPE html>

<head>
    <title>Dr. Jordan Peterson Bookstore</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    {% block head_js %} {% endblock head_js %}
    <style>
    </style>

</head>

<body>
    <!-- Fixed masthead -->
<div class="container">
    <div class="container">
        <nav id="navbar" class="navbar navbar-masthead navbar-fixed-top">
            <div class="row navbar-top-row">
                <div class="navbar-header  col-lg-3 col-md-3 col-xs-12">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <!--<img src="../static/images/Maps_of_meaning.png" alt="Maps of Meaning Logo" width="50px">-->
                    <a class="navbar-brand" href="{% url 'index' %}">Dr. Jordan Peterson Book Store</a>
                </div>
    
    
    
                <div class="navbar-collapse collapse col-lg-4 col-lg-offset-2 col-md-4 col-xs-12">
                    <ul class="nav navbar-nav navbar-right">
                        <div class="searchbox">
                            <div class="display">
                                <form action="{% url 'search' %}" method="get">
                                    <input class="search-input" type="text" name="q">
                                    <button class="btn btn-info hvr-grow" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Profile<i class="fa fa-user"></i></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'logout' %}">Log Out<i class="fa fa-sign-out"></i></a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Log In<i class="fa fa-user-plus"></i></a></li>
                        <li><a href="{% url 'register' %}">Register<i class="fa fa-sign-in"></i></a></li>
                        {% endif %}
                        <li>
                            <a href="{% url 'view_cart' %}">
                                <i class="fa fa-shipping-cart"></i> Cart
                                {% if product_count > 0 %}
                                <label class="badge badge-warning">{{ product_count }}</label>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
    
            <hr class="navbarline">
    
            <!--<div class="container">-->
                <div class="row navbar-bottom-row">
                    <div class="col-lg-8 col-lg-offset-4 col-md-10 col-md-offset-2 col-xs-12">
                        <ul class="nav navbar-nav">
                            <li class="navbar-buttons"><a href="{% url 'about' %}">About<img src="{% static 'images/head.png' %}" width="30px"/></a></li>
                            <li class="navbar-buttons"><a href="{% url 'categories' %}">Book Store<img src="{% static 'images/books-stack-of-three.png' %}" width="30px"/></a></li>
                            <li class="navbar-buttons"><a href="{% url 'youtubecategories' %}">Youtube Series<img src="{% static 'images/youtube.png' %}" width="30px"/></a></li>
                        </ul>
                    </div>
                </div>
                
                <!--<div class="col-xs-12"></div>-->
                
            <!--</div>-->
            <!--<div class="container">-->
            <!--    <div class="row">-->
            <!--            <div class="col-md-2 col-md-offset-3"><a href="{% url 'about' %}">About<img src="{% static 'images/head.png' %}" width="30px"/></a></div>-->
            <!--            <div class="col-md-2"><a href="{% url 'categories' %}">Book Store<img src="{% static 'images/books-stack-of-three.png' %}" width="30px"/></a></div>-->
            <!--            <div class="col-md-2"><a href="{% url 'youtubecategories' %}">Youtube Series<img src="{% static 'images/youtube.png' %}" width="30px"/></a></div>-->
            <!--    </div>-->
            <!--</div>-->
    
    
        </nav>
    </div>

    <div class="pushdown">
        {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %} {{ message }} {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>



    {% block content %} {% endblock %}
    <div class="row">
        <footer class="footer footer-card col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-4 col-sm-offset-3 col-xs-4 col-xs-offset-3">
            </a>
            <div>
                <h4>
                    Follow Dr. Jordan Peterson on
                    <a class="hvr-grow" href="https://www.facebook.com/drjordanpeterson/" target="_blank"><img src="{% static 'images/facebook2.png' %}" width="30px"/></a>
                    <a class="hvr-grow" href="https://www.youtube.com/user/JordanPetersonVideos" target="_blank"><img src="{% static 'images/youtube2.png' %}" width="30px"/></a>
                    <a class="hvr-grow" href="https://twitter.com/jordanbpeterson" target="_blank"><img src="{% static 'images/twitter2.png' %}" width="30px"/></a>
                    <a class="hvr-grow" href="https://www.patreon.com/jordanbpeterson" target="_blank"><img src="{% static 'images/patreon.png' %}" width="30px"/></a>
                    <a class="hvr-grow" href="https://www.researchgate.net/profile/Jordan_Peterson2" target="_blank"><img src="{% static 'images/ResearchGate.png' %}" width="30px"/></a>
                    <a class="hvr-grow" href="https://soundcloud.com/jordanpetersonpodcast" target="_blank"><img src="{% static 'images/soundcloud.png' %}" width="30px"/></a>
                    <a class="hvr-grow" href="https://www.reddit.com/r/JordanPeterson/" target="_blank"><img src="{% static 'images/reddit3.png' %}" width="30px"/></a> | <a href="{% url 'contact' %}">Contact Us </a>
                </h4>
            </div>
        </footer>
    </div>

</div>
</body>

</html>
