{% load static from staticfiles %}

<!DOCTYPE html>
<head>
    <title>Dr. Jordan Peterson</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="../static/css/custom.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    {% block head_js %}
    {% endblock head_js %}
<style>


</style>

</head>

<body>
<!-- Fixed masthead -->
<div style="width: 100%">
    
    <nav id="navbar" class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="row">
            <div class="navbar-header col-md-4">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <!--<img src="../static/images/Maps_of_meaning.png" alt="Maps of Meaning Logo" width="50px">-->
                <a class="navbar-brand" href="{% url 'index' %}">Dr. Jordan Peterson</a>
            </div>
            
            
            
            <div class="navbar-collapse collapse col-md-4 col-md-offset-3">
                <ul class="nav navbar-nav navbar-right">
                    <div class="searchbox">
                        <div class="display">
                            <form action="{% url 'search' %}" method="get">
                                <input type="text" name="q">
                                <button type="submit">Search</button>
                            </form>
                        </div>
                    </div>       
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i>Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Log Out</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}"><i class="fa fa-user-plus"></i>Log In</a></li>
                        <li><a href="{% url 'register' %}"><i class="fa fa-sign-in"></i>Register</a></li>
                    {% endif %}
                    <li>
                        <a href="{% url 'view_cart' %}">
                            <i class="fa fa-shipping-cart"></i> Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <hr class="navbarline">
        
        
        <div class="row">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'categories' %}">Book Store</a></li>
                <li><a href="{% url 'youtubecategories' %}">Youtube Series</a></li>
            </ul>
        </div>
        
        
    </nav>
    


    <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    {% if messages %}
                        <div class="alert alert-success">
                            <div class="messages">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>
    
        {% block content %}
        {% endblock %}
    
    <footer class="footer col-sm-6 col-sm-offset-3"></a>
        <div class="row col-sm-12">
            <h4 class="freedeliverytext">
                Follow Dr. Jordan Peterson on 
                <a class="hvr-grow" href="https://www.facebook.com/drjordanpeterson/" target="_blank"><img src="{% static 'images/Facebook.png' %}" width="30px"/></a>
                        <a class="hvr-grow" href="https://twitter.com/jordanbpeterson" target="_blank"><img src="{% static 'images/Twitter.png' %}" width="30px"/></a>
                        <a class="hvr-grow" href="https://www.researchgate.net/profile/Jordan_Peterson2" target="_blank"><img src="{% static 'images/ResearchGate.png' %}" width="30px"/></a>
                        <a class="hvr-grow" href="https://soundcloud.com/jordanpetersonpodcast" target="_blank"><img src="{% static 'images/Soundcloud.png' %}" width="30px"/></a>
                        <a class="hvr-grow" href="https://www.reddit.com/r/JordanPeterson/" target="_blank"><img src="{% static 'images/Reddit.png' %}" width="30px"/></a>
                        | <a href="{% url 'register' %}">Contact Us </a>
            </h4>
    
        <!-- Modal for T&Cs -->
            <!--<div id="myModal" class="modal fade" role="dialog">-->
            <!--    <div class="modal-dialog">-->
    
            <!--        <div class="modal-content">-->
            <!--            <div class="modal-header">-->
            <!--                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <!--                <h2 class="modal-title">Terms & Conditions for Free Delivery</h2>-->
            <!--            </div>-->
            <!--            <div class="modal-body">-->
            <!--                <p>Total Order must be equal to or over €50 and Delivery Address must be in Ireland</p>-->
            <!--            </div>-->
            <!--            <div class="modal-footer">-->
            <!--                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
        </div>
    </footer>
    
    
</div>
</body>
</html>