{% extends 'base.html' %}

{% block content %}
{% for youtubecategory in blogcategories %}
    <div class="YT-cards">
        <!--<div class="col-sm-12 col-md-3 col-lg-6">-->
        <div class="col-md-4">
            <a href="{% url 'youtube_by_category' youtubecategory.id %}">
                <div class="col-md-4 cats" style="background-image: url({{ MEDIA_URL }}{{ youtubecategory.image }});">
                    <h1>{{ youtubecategory.name }}</h1>
                </div>
            </a>
        </div>
    </div>
{% endfor %}

{% endblock %}