{% extends 'base.html' %}

{% block content %}


{% for youtubecategory in blogcategories %}
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <a href="{% url 'youtube_by_category' youtubecategory.id %}">
                <div class="col-md-3 cats" style="background-image: url({{ MEDIA_URL }}{{ youtubecategory.image }});">
                    <h1>{{ youtubecategory.name }}</h1>
                </div>
            </a>
        </div>
    </div>
{% endfor %}

{% endblock %}